* 

{

    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x:hidden;

}

body {
    background-color: rgb(221, 100, 100);

}

header {

   background: rgb(243, 237, 237);
   padding: 20px;

}

header > h1 {

    color: rgb(221, 100, 100);
    text-align: center;
    
}


.board {

    margin:30px auto;
    border: 3px solid black;
    width: 300px;
    color:black;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position:relative;
    background-color: rgb(243, 237, 237);
}

.badge {

    background: lightblue;
    color:black;
    font-size: 17px;
    font-weight: bold;
    padding: 2px 10px;
    font-family: Arial, sans-serif;
    
}

#user-label {

    position: absolute;
    bottom: 0px;
    left: -0px;


}

#computer-label {

    position: absolute;
    bottom:0px;
    right: 0px;


}

#result {

    font-size: 20px;
    display:none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;

}




.choices {


    text-align: center;
    margin: 20px 0px;
   


}

.choice {

    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 0px 0px 10px 0px;
    
   
   
}

.choice:hover {

    cursor:pointer;
    background: lightblue;

}

#make-move {

    text-align: center;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(243, 237, 237);
    font-family: Arial, sans-serif;

}

/* IPAD */
@media screen and (min-width: 480px) and (max-width: 768px) {



.board {

    margin-top: 40px;

}


.choices {

    padding-bottom: 2rem;
    padding-top: 2rem;


}
.choice {
    
    width:300px;
    height: auto;
    padding: 5px 0px;
    text-align: center;
    display: inline-block;
}


#make-move {

    font-size: 2rem;
    padding-top: 2rem;
}

.board {

    
    margin:30px auto;
    border: 3px solid black;
    width: 300px;
    color:black;
    font-size: 60px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position:relative;
    background-color: rgb(243, 237, 237);
}


}

/* Small Screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {

.choice {

    padding: 50px 10px;
    display: inline-block

}

.board {

    
        margin:30px auto;
        border: 3px solid black;
        width: 300px;
        color:black;
        font-size: 60px;
        border-radius: 4px;
        text-align: center;
        padding: 15px 20px;
        position:relative;
        background-color: rgb(243, 237, 237);
    }
    



}



@media screen and (min-width: 1025px) and (max-width: 1200px) {

.choice {
    
        padding: 80px 30px;
        display: inline-block
    }
    }

    /* Laptops */
@media screen and (min-width: 1201px) and (max-width: 1999px) {


.board {

    
    margin:30px auto;
    border: 3px solid black;
    width: 500px;
    color:black;
    font-size: 60px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position:relative;
    background-color: rgb(243, 237, 237);
}

    


.choice {
    
        padding: 40px 50px;
        display: inline-block;
        
    }

.choices {

    padding-top: 4rem;
}


#make-move {

    font-size: 2.4rem;
    padding-top: 5rem;
    

}

#user-label {

    position: absolute;
    bottom: 0px;
    left: -0px;
    font-size: 1.5rem;


}

#computer-label {

    position: absolute;
    font-size: 1.5rem;
    bottom:0px;
    right: 0px;


}

header > h1 {

    color: rgb(221, 100, 100);
    font-size: 3rem;
    text-align: center;
    
}

}


    /* Large Laptops */

@media screen and (min-width: 2000px) {

    .choice {

        padding: 10px 10px;
        display: inline-block
    
    }

    #make-move {

        font-size: 1rem;
        padding: 0px 0px;
    
    }

}


